@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  margin-left:0;
  margin-right:0;
  padding:0;
  overflow-x:hidden;
}

.orbi {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.very-black {
background-color: #16151E;
}

.less-black {
  background-color: #1C192C;
}

.exo {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
